back/project/vendor/
back/project/node_modules/
back/project/npm-debug.log
back/project/yarn-error.log

# Laravel 4 specific
back/project/bootstrap/compiled.php
back/project/app/storage/

# Laravel 5 & Lumen specific
back/project/public/storage
back/project/public/hot

# Laravel 5 & Lumen specific with changed public path
back/project/public_html/storage
back/project/public_html/hot
back/project/public/css
back/project/public/js

back/storage/*.key
back/project/.env
back/project/Homestead.yaml
back/project/Homestead.json
back/project/.vagrant
back/project/.phpunit.result.cache

#docker
back/docker/db/data
back/docker/db/sql
back/project/public/mix-manifest.json
back/project/public/css
back/project/public/js
back/project/.scribe
back/project/resources/docs
back/project/public/docs
